// custom colors
$primary: #fcd42c;
$secondary: #414242;
$success: #00c9a7;
$info: #78deee;
$danger: #e784ff;
$light: #f5f5f5;
$dark: #131414;

$gray-700: #414242;
$gray-800: #343a40 !default;
$gray-900: #1c1d1d;

$body-bg: $dark;
$body-color: $light;

// font family
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap');

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Noto Sans TC',
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans',
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';

// spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25
  ),
  2: (
    $spacer * 0.75
  ),
  3: $spacer,
  4: (
    $spacer * 1.25
  ),
  5: (
    $spacer * 1.5
  ),
  6: (
    $spacer * 3
  ),
  7: (
    $spacer * 3.5
  ),
  8: (
    $spacer * 3.75
  ),
  9: (
    $spacer * 4
  )
);

// font size
$font-size-base: 1rem !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;
$h7-font-size: $font-size-base * 0.88;
$h8-font-size: $font-size-base * 0.75;
// scss-docs-end font-variables

// scss-docs-start font-sizes
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $h7-font-size,
  8: $h8-font-size
);

// Paragraphs
//
// Style p element.
$paragraph-margin-bottom: 0;

// Inputs
$input-bg: $gray-900;
$input-placeholder-color: $gray-700;
$input-plaintext-color: $light;
$input-color: $primary;
$input-border-color: $gray-900;
$input-border-width: 6px;
$input-border-width: 2px;

// Grid
$grid-columns: 10;

// Buttons
$input-btn-padding-y: 0.6rem;
$btn-box-shadow: 0px 0px 2px 0px rgba(28, 200, 238, 1),
  0px 0px 6px 0px rgba(28, 200, 238, 1);
$btn-font-size: 0.88rem;
$btn-border-radius: 9px;
