// custom colors
$primary: #fcd42c;
$secondary: #414242;
$success: #00c9a7;
$info: #78deee;
$danger: #e784ff;
$light: #f5f5f5;
$dark: #131414;

$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$body-bg: $dark;
$body-color: $light;

// font family
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap');

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Noto Sans TC',
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans',
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';

// spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25
  ),
  2: (
    $spacer * 0.75
  ),
  3: $spacer,
  4: (
    $spacer * 1.25
  ),
  5: (
    $spacer * 1.5
  ),
  6: (
    $spacer * 3
  ),
  7: (
    $spacer * 3.5
  ),
  8: (
    $spacer * 3.75
  ),
  9: (
    $spacer * 4
  )
);

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 0;

// Inputs

$input-bg: $body-bg;
