$utilities: (
  'z-index': (
    property: z-index,
    class: z,
    values: (
      100: 100,
      200: 200,
      300: 300,
      900: 900,
      1000: 1000
    )
  ),
  'letter-spacing': (
    property: letter-spacing,
    class: ls,
    values: (
      1: 1px,
      2: 2px
    )
  )
);

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-home-size {
  width: 144px;
  @media screen and (min-width: 768px) {
    width: 210px;
  }
  @media screen and (min-width: 1200px) {
    width: 245px;
  }
}

.logo-header-size {
  height: 40px;
  @media screen and (min-width: 768px) {
    height: 58px;
  }
}

.header-shadow {
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}

.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ps {
  height: var(--h);
}

[v-cloak] {
  display: none;
}

.show {
  display: block !important;
}
