$utilities: (
  'z-index': (
    property: z-index,
    class: z,
    values: (
      100: 100,
      200: 200,
      300: 300,
      900: 900,
      1000: 1000
    )
  ),
  'cursor': (
    property: cursor,
    class: cursor,
    values: (
      pointer: pointer
    )
  ),
  'minh': (
    property: min-height,
    class: minh,
    values: (
      100: 100vh
    )
  )
);

.logo-home-size {
  width: 144px;
  @media screen and (min-width: 768px) {
    width: 210px;
  }
  @media screen and (min-width: 1200px) {
    width: 245px;
  }
}

.logo-header-size {
  height: 40px;
  @media screen and (min-width: 768px) {
    height: 58px;
  }
}

.header-shadow {
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}

.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

[v-cloak] {
  display: none;
}

.show {
  display: block !important;
}
